.outer-div {
  text-align: center;
  font-family: arial, sans-serif;
  width: 600px;
  margin: auto;

}

.prediction {
  width: 300px;
  margin: auto;
}

.begin {
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  text-align: center;

}

.container {
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.photo {
  padding: 2px;
  height: 30px;
  width: 25px;
}

.vak {

  background-color: white;
  width: 120px;
  height: 350px;
  padding-left: 15px;
}

.poulelijst {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  border-style: solid;
  width: 90px;
  height: 50px;
  vertical-align: middle;
}

.land {
  border-style: solid;
  background-color: white;
  width:250px;
  height:200px;
  align-items: center;
}

.info {
  align-items: center;
}
.record {
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 3px;
}

input {
  width: 35px;
}

.standing {
  padding: 30px;
}

image {
  width: 100px;
  height :100px;
}
