button {
  background-color: #f1eee7;
  font-family: Qatar2022Arabic;
}

.outer-div {
  text-align: center;
  font-family: Qatar2022Arabic;
  width: 600px;
  margin: auto;

}

.knockoutrondes {
  background: #f1eee7;
}

.laatstezestien {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.laatste16 {
  background: #f1eee7;
      float: left;
      padding: 10px 20px;
      width: 227px;
      margin-left: 10px;;

}

.prediction {
  width: 300px;
  margin: auto;
}

.begin {
  background-color: #f1eee7;
  color: #8b1638;
  font-family: Qatar2022Arabic;
  font-size: 18px;
  font-style: normal;
  text-align: center;

}

.container {
  text-align: center;
  font-family: Qatar2022Arabic;
  font-style: normal;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.photo {
  padding: 2px;
  height: 30px;
  width: 25px;
}

.vak {
  color: #8b1638;
  background-color: #f1eee7;
  width: 120px;
  height: 350px;
  padding-left: 15px;
}

.poulelijst {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  color: #8b1638;
  border-style: solid;
  width: 90px;
  height: 50px;
  vertical-align: middle;
}

.land {
  color: #8b1638;
  border-style: solid;
  background-color: #f1eee7;
  width:200px;
  height:280px;
  align-items: center;
}

.info {
  align-items: center;
  display: inline-block;
}

.record {
  margin: auto;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 220px;
  height: 1300px;
  padding: 5px;
  vertical-align: top;
}

table {
  font-family: Qatar2022Arabic;
  border-collapse: collapse;
  background-color: #f1eee7;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 3px;
}

input {
  width: 35px;
}

.standing {
  padding: 30px;
}

image {
  width: 100px;
  height :100px;
}

.knockoutrondes {
  font-family: Qatar2022Arabic;
  text-align: center;
}



@media screen and (max-width: 1000px) {
body {
 font-size: 12px;
}
.vak {
 width: 80px;
 height: 255px;
}

.land {
 width: 150px;
 height: 210px;
 font-size: 12px;
}

.team{
 width: 65px;
 height: 35px;
 font-size: 10px;
}

h2, h1 {
 font-size: 16px;
}

img.photo {
 width: 15px;
 height:15px;
}

.record {
 width: 180px;
 height: 950px;
}

}
